@tailwind base;
@tailwind components;
@tailwind utilities;

/* for on market switch toggle */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.side-menu-items {
  @apply cursor-pointer m-2 px-2 hover:text-blue-300
}

.project-card-btn {
  @apply text-lg mx-1 px-2 border rounded-md disabled:opacity-60
}

.design-input {
  @apply w-150 mx-2 border rounded-md
}

.design-btn {
  @apply w-btn border rounded-md border-black
}